page-extra-food-info {
    ion-card {
        border-top: 7px solid rgb(42, 19, 128)!important ;
        border-radius : 10px!important ;
     }
     .masters {
        background-color: #e0e0e0;
      }
}
